#bar-root {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    --border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: var(--border-shadow);

    --menu-font-size: 14px;
    --menu-section-border: 1px solid #ccc;
    --menu-border-radius: 25px;
}

.bar-entry {
    background-color: inherit;
    --entry-top-bottom-padding: 10px;
}

#filter-entry {
    padding-top: var(--entry-top-bottom-padding);
    padding-bottom: var(--entry-top-bottom-padding);
    padding-left: var(--entry-top-bottom-padding);
}

.tab {
    padding: var(--entry-top-bottom-padding) 20px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.tab-title {
    cursor: pointer;
}

.tab:hover {
    box-shadow: var(--border-shadow);
    z-index: 1;
}

.tab:hover .tab-content {
    display: block;
}

.tab-content {
    background: inherit;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: var(--border-shadow);
    border-bottom-left-radius: var(--menu-border-radius);
    border-bottom-right-radius: var(--menu-border-radius);
}

.tab-content:hover {
    display: block;
}

#filter-entry {
    flex-grow: 1;
}