div {
    border: none;
    outline: none;
}

#wrapper {
    width: 100%;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

label, input {
    font-size: 14px;
}

label {
    padding-right: 5px;
}

div.filterGroupWrapper {
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    text-align: left;
}

div.filterGroup {
    border-radius: 25px;
    border: 1px solid #ccc;
}

div.filterType {
    padding-bottom: 5px;
    text-align: center;
}

div.filter {
    padding-bottom: 10px;

}

div.left {
    padding: 10px;
}

div.right {
    padding: 10px;
}
