label, input {
    font-size: 14px;
}

label {
    white-space: nowrap;
    padding-right: 5px;
}

input[type=checkbox] {
    vertical-align: middle;
}

#filter-root {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.filter-group-panel {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid #ccc;
    flex-grow: 1;
    padding: 5px;
}

.filter-type {
    padding-bottom: 5px;
    text-align: center;
}

.filter {
    white-space: nowrap;
    display: inline-block;
    padding: 5px;
}
