label, input {
    font-size: var(--menu-font-size);
}

input[type=checkbox] {
    vertical-align: middle;
}

#filter-bar-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 40px;
    border-right: 1px solid silver;
    margin-right: 20px;
}

.search-bar {
    display: inline-flex;
    align-items: center;
    flex-grow: 1;
}

#filter-string {
    flex-grow: 1;
    margin-left: 10px;
}

#invert-checkbox {
    display: inline-block;
    margin-left: 10px;
}
