#bar-root {
    background-color: ghostwhite;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;

    --border-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: var(--border-shadow);

    --menu-font-size: 14px;
    --menu-section-border: 1px solid #ccc;
    --menu-border-radius: 25px;
}

.bar-entry {
    background-color: inherit;
    --entry-top-bottom-padding: 10px;
}

#filter-entry {
    padding-top: var(--entry-top-bottom-padding);
    padding-bottom: var(--entry-top-bottom-padding);
    padding-left: var(--entry-top-bottom-padding);
}

.tab {
    padding: var(--entry-top-bottom-padding) 20px;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.tab-title {
    cursor: pointer;
}

.tab:hover {
    box-shadow: var(--border-shadow);
    z-index: 1;
}

.tab:hover .tab-content {
    display: block;
}

.tab-content {
    background: inherit;
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    box-shadow: var(--border-shadow);
    border-bottom-left-radius: var(--menu-border-radius);
    border-bottom-right-radius: var(--menu-border-radius);
}

.tab-content:hover {
    display: block;
}

#filter-entry {
    flex-grow: 1;
}

/* FIXME: CSS sauber machen, so dass das Menue mit Filter-leiste wieder gut aussieht
#filterBar {
    padding: 10px 10px 10px 10px;
    background-color: ghostwhite;
    flex-grow: 1;
}

.drop-downs {
    position: relative;
}

div.tab {
    background-color: inherit;
}

div.tabs {
    background-color: ghostwhite;
    transition: 0.3s;
    display: inline-flex;
    flex-direction: row;
}

div.tab {
    position: absolute;
}

div.first {
    left: 0;
    right: 66%;
}

div.second {
    left: 33%;
    right: 33%;
}

div.third {
    left: 66%;
    right: 0;
}

if you want the whole menu to expand (not only the current tab), you can use display: table and width: 100% for .tabs
and display:cell for .tab --> disadvantage: the width of the tabs is not constant

div.normaltitle, div.righttitle {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

div.normaltitle {
    text-align: center;
}

div.righttitle {
    text-align: right;
    padding-right: 10px;
}

div.tabcontent {
    display: none;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

div.canhover:hover {
    z-index: 1;
    background-color: #f1f1f1;
    text-align: center;
}

#legend:hover #legendTitle {
    text-align: center;
}

#filter:hover #filterTab {
    display: block;
}

#settings:hover #settingsTab {
    display: block;
}

#legend:hover #legendTab {
    display: block;
}

#filterTab:hover {
    display: block;
}

#settingsTab:hover {
    display: block;
}

#legendTab:hover {
    display: block;
}

div.tab:hover, div.normaltitle:hover, div.righttitle:hover {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
*/