label, input {
    font-size: var(--menu-font-size);
}

label {
    white-space: nowrap;
}

#settings-root {
    padding: 15px;
}

.settings-panel {
    border-radius: var(--menu-border-radius);
    border: var(--menu-section-border);
    padding: 5px;
}

.setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.menu-slider {
    padding-top: 5px;
    padding-bottom: 5px;
}