div {
    border: none;
    outline: none;
}

#wrapper {
    width: 100%;
    text-align: center;
    padding: 0px 10px 10px 10px;
}

div.settingsWrapper {
    display: inline-block;
    vertical-align: middle;
    margin: 2px;
    padding: 10px;
    text-align: left;
    border-radius: 25px;
    border: 1px solid #ccc;
}

.menu-slider {
    width: 100px;
}

label, input {
    font-size: 14px;
}

label {
    padding-right: 5px;
}

div.setting {
    padding-top: 10px;
    padding-bottom: 10px;
}