<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd">
    <modelVersion>4.0.0</modelVersion>
    <groupId>com.tngtech.archunit</groupId>
    <artifactId>archunit-maven-test</artifactId>
    <version>#{archunit.version}</version>

    <description>Tests the created Maven artifacts of archunit and archunit-junit</description>

    #{repositories}

    <profiles>
        <profile>
            <id>execute-rules</id>
            <properties>
                <maven.test.failure.ignore>true</maven.test.failure.ignore>
            </properties>
            <build>
                <plugins>
                    <plugin>
                        <artifactId>maven-surefire-plugin</artifactId>
                        <configuration>
                            #{surefireExampleConfiguration}
                        </configuration>
                    </plugin>
                </plugins>
            </build>
        </profile>
        <profile>
            <id>verify-rules</id>
            <properties>
                <maven.test.failure.ignore>false</maven.test.failure.ignore>
                <test>TestResultTest</test>
            </properties>
            <build>
                <plugins>
                    <plugin>
                        <artifactId>maven-surefire-plugin</artifactId>
                    </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>

    <dependencies>
        <dependency>
            <groupId>com.tngtech.archunit</groupId>
            <artifactId>#{archunitTestArtifact}</artifactId>
            <version>#{archunit.version}</version>
            <scope>test</scope>
        </dependency>
        #{libs.javaxAnnotationApi}
        #{libs.geronimoEjb}
        #{libs.geronimoJpa}
        #{libs.jodaTime}
        #{libs.springBeans}
        #{libs.jakartaInject}
        #{libs.jakartaAnnotations}
        #{libs.guice}
        #{libs.junit4:test}
        #{libs.junit_dataprovider:test}
        #{libs.assertj:test}
        #{libs.joox:test}
        #{additionalDependencies}
    </dependencies>

    <build>
        <pluginManagement>
            <plugins>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-surefire-plugin</artifactId>
                    <version>2.22.2</version>
                    <configuration>
                        <argLine>-Xmx2G</argLine>
                    </configuration>
                </plugin>
                <plugin>
                    <groupId>org.apache.maven.plugins</groupId>
                    <artifactId>maven-compiler-plugin</artifactId>
                    <version>3.8.1</version>
                    <configuration>
                        <fork>true</fork>
                        <source>#{javaVersion}</source>
                        <target>#{javaVersion}</target>
                    </configuration>
                </plugin>
            </plugins>
        </pluginManagement>
        <plugins>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-compiler-plugin</artifactId>
            </plugin>
        </plugins>
    </build>
</project>
