#filters {
    position: relative;
    display: none;
}

#menu {
    position: relative;
    display: none;
}

div.show, div.menu {
    display: inline-block;
    vertical-align: top;
}

form.inputarea {
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

fieldset.inputs {
    margin: 0;
    padding: 0;
    border: 0;
    padding-top: 5px;
}

fieldset.subinputs {
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 20px;
}

fieldset.inputs {
    display: inline-block;
    vertical-align: top;
}

label {
    position: absolute;
    top: 5px;
    left: auto;
    margin-left: 5px;
    font-weight: bold;
}

legend {
    font-weight: bold;
}