* {
    box-sizing: border-box;
}

svg {
    min-height: 600px;
    min-width: 600px;
}

div {
    font-family: Verdana;
    font-size: 12px;
}

#filters, #menu, #detailedDeps {
    display: none;
    padding: 5px;
}

#new-menu {
    display: inline-block;
}

#detailedDeps {
    width: 250px;
    white-space: normal;
    vertical-align: top;
    margin-right: 10px;
    resize: horizontal;
    overflow: auto;
}

#showButtons {
    display: inline-block;
}

#tester {
    display: none;
}

#container {
    white-space: nowrap;
}

#headerDetailedDeps {
    font-size: inherit;
    width: inherit;
}

#svgContainer {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

.jscolor, .number {
    width: 50px;
}

div.submit {
    display: table-cell;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black;
}

.button {
    float: right;
    display: table-cell;
}

div.forms {
    display: table-row;

}

div.submitbuttons {
    display: table-row;
}

form {
    display: table-cell;
    border-right: solid 2px black;
    border-left: solid 2px black;
    border-top: solid 2px black;
}

ul, li {
    float: left;
    clear: left;
    margin-left: 3px;
    width: inherit;
    word-wrap: break-word;
}

fieldset.inputs {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    padding: 0;
    border: 0;
    padding-top: 5px;
}

fieldset.subinputs {
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 20px;
}

legend {
    font-weight: bold;
}