circle {
    stroke: black;
    stroke-width: 1px;
}

.class circle, .abstractclass circle, .interface circle {
    fill: #98AFC7;
    fill-opacity: 1;
}

.package circle {
    fill: #FF0000;
    fill-opacity: 0.25;
}

.interface circle {
    stroke-dasharray: 2, 2;
}

.abstractclass circle {
    stroke-dasharray: 10, 10;
}

.area {
    cursor: pointer;
}

text {
    font-family: sans-serif;
    text-anchor: middle;
    font-weight: bold;
}

.package text, .interface text, .abstractclass text, .class text {
    font-size: 12px;
}

.package text {
    font-style: italic;
    font-weight: normal;
}

line.access {
    marker-end: url(#end_arrow);
    stroke: black;
}

line.methodCall {
    stroke: #0000FF;
}

line.fieldAccess {
    stroke: #FFFF00;
}

line.constructorCall {
    stroke: #FF0000;
}

line.implementsAnonymous {
    stroke-dasharray: 1, 1;
    stroke: #00FFCC;
}

line.several {
    stroke: #808080;
}

line.extends {
    stroke-dasharray: 5, 5;
}

line.implements {
    stroke-dasharray: 2, 2;
}

text.access {
    font-weight: normal;
    font-size: 12px;
}