name: CI

on:
  push:
    branches:
      - main
      - release-*
  pull_request:

env:
  build_java_version: 15

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set up Java
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.build_java_version }}
      - name: Build
        uses: eskatos/gradle-command-action@v1
        with:
          arguments: build

  test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        test_java_version:
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set up Build JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.build_java_version }}
      - name: Set up Test JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.test_java_version }}
      - name: Provide installed JDKs
        uses: actions/github-script@v4.0.2
        with:
          script: |
            for ( let envVarName in process.env ) {
              if (/JAVA_HOME_\d.*64/.test(envVarName)) {
                const version = envVarName.match(/JAVA_HOME_(\d+).*64/)[1];
                if (version === "${{ matrix.test_java_version }}") {
                  core.exportVariable('test_jdk_path', process.env[envVarName]);
                } else if (version === "${{ env.build_java_version }}") {
                  core.exportVariable('build_jdk_path', process.env[envVarName]);
                }
              }
            }
      - name: Test
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_HOME: ${{ env.build_jdk_path }}
        with:
          arguments: testJre${{ matrix.test_java_version }} jdk9TestJre${{ matrix.test_java_version }} jdk15TestJre${{ matrix.test_java_version }} -PallTests -PmultiJdkTest -Pjava${{ matrix.test_java_version }}Home="${{ env.test_jdk_path }}"

  integration-test:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        java_version:
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Set up Build JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ env.build_java_version }}
      - name: Set up Test JDK
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java_version }}
      - name: Provide installed JDKs
        uses: actions/github-script@v4.0.2
        id: provideJdkPaths
        with:
          script: |
            for ( let envVarName in process.env ) {
              if (/JAVA_HOME_\d.*64/.test(envVarName)) {
                const version = envVarName.match(/JAVA_HOME_(\d+).*64/)[1];
                if (version === "${{ matrix.test_java_version }}") {
                  core.exportVariable('test_jdk_path', process.env[envVarName]);
                } else if (version === "${{ env.build_java_version }}") {
                  core.exportVariable('build_jdk_path', process.env[envVarName]);
                }
              }
            }
      - name: Integration test
        uses: eskatos/gradle-command-action@v1
        env:
          JAVA_HOME: ${{ env.build_jdk_path }}
        with:
          arguments: build -xtest -xspotbugsMain -xjavadoc publishToMavenLocal runMavenTest -Pjava${{ matrix.test_java_version }}Home="${{ env.test_jdk_path }}"
