name: "Validate Gradle Wrapper"

on:
  push:
    branches:
      - main
      - release-*
  pull_request:

jobs:
  validation:
    name: "Validation"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gradle/actions/wrapper-validation@v4
