name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Gradle JDK
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'zulu'
          java-version: 25

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2.1.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
