name: Update Gradle Wrapper

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-gradle-wrapper:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4

      - name: Install Gradle JDK
        uses: actions/setup-java@v1
        with:
          java-version: 14

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v1.0.15
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
